
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Admin Panel</h1>
        <p class="lead">This portal provides the access to the admin to schedule new meetings as well as manage them.
        </p>

    </div>
</div>
